<div class="dash-div">
    <div class="dash-content">
        <h1 class="page-header">Dashboard</h1>
        <form [formGroup]="profileUpdateForm" (ngSubmit)="onprofileupdateform()">
            <div class="form-group mt-2">
                <label for="fullName">Fullname</label>
                <input type="text" class="form-control" formControlName="fullName">
            </div>

            <div class="form-group mt-2">
                <label for="userName">Username</label>
                <input type="text" class="form-control" formControlName="userName">
            </div>

            <div class="form-group mt-2">
                <label for="email">Email</label>
                <input type="text" class="form-control" formControlName="email">
            </div>

            <div class="form-group mt-2">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password">
                <small *ngIf = "profileUpdateForm.get('password').invalid && profileUpdateForm.get('password').touched" class="text-danger">4 digit require</small>
            </div>

            <div class="form-group mt2">
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmpassword">
            </div>

            <button type="submit" class="btn btn-primary mt-2">Update Info</button>
            <a *ngIf="!userValue?.verified" [routerLink]="['/userlog/verification']" class="verification">Verifiy your number </a>
        </form>
    </div>
</div>