<!-- 1. Define your Html form
2. Define your form Model
3. Use directives by reactiveFormModule to associate model with view 
-->


<div class="register-div">
    <div class="register-content">
        <h1 class="page-header">Register</h1>

        <form [formGroup]="registrationForm" (ngSubmit)="registrationFormSubmit()">
            <div class="form-group mt-2">
                <label for="fullName">Fullname</label>
                <input type="text" [class.is-invalid]="fullName.invalid && fullName.touched" class="form-control" placeholder="Fullname" name="fullName" formControlName = "fullName">
                <div *ngIf="fullName.invalid && fullName.touched">
                    <small *ngIf="fullName.errors?.required" class="text-danger">
                        This is required field
                    </small>
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="username">Username</label>
                <input type="text" [class.is-invalid]="userName.invalid && userName.touched" class="form-control" placeholder="Username" name="userName" formControlName = "userName">
                <div *ngIf="userName.invalid && userName.touched">
                    <small class="text-danger">
                        This is required field
                    </small>
                </div>
                
            </div>

            <div class="form-group mt-2">
                <label for="email">Email</label>
                <input type="email" [class.is-invalid]="email.invalid && email.touched" class="form-control" placeholder="Email" name="email" formControlName = "email">
                <div *ngIf="email.invalid && email.touched">
                    <small class="text-danger">
                        This is required field
                    </small>
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="password">Password</label>
                <input type="password" [class.is-invalid]="password.invalid && password.touched" class="form-control" placeholder="Password" name="password" formControlName = "password">

                <div *ngIf="password.invalid && password.touched">
                    <small *ngIf="password.errors?.required" class="text-danger">
                        This is required field
                    </small>

                    <small *ngIf="password.errors?.minlength" class="text-danger">
                        Please write atleast 4 character long password
                    </small>
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" [class.is-invalid]="confirmpassword.invalid && confirmpassword.touched" class="form-control" placeholder="Confirm Password" name="confirmpassword" formControlName = "confirmpassword">

                <div *ngIf="confirmpassword.invalid && confirmpassword.touched">
                    <small *ngIf="confirmpassword.errors?.required" class="text-danger">
                        This is required field
                    </small>

                    <small *ngIf="confirmpassword.errors?.minlength" class="text-danger">
                        Please write atleast 4 character long password
                    </small>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-2 me-2">Submit</button>
            <button (click)="loadexampleApiData()" type="submit" class="btn btn-primary mt-2">Load Example</button>
        </form>
    </div>
</div>