<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-4 div-center">
            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                <h1 class="page-header text-center">Login</h1>
                <div class="form-group mt-2">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" placeholder="Username" name="username" formControlName="userName">
                </div>
            
                <div class="form-group mt-2">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password" formControlName="password">
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-danger mt-2 text-center">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div> -->


<div class="outer-container">
    <div class="inner-container">
        <div class="main-container">
            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                <div class="img-div">
                    <img src="../../../assets/images/login2.jpg" style="height: 300px; width: 600px;" alt="Error"
                        class="real-img">
                </div>

                <div class="main-content">
                    <h1>Sign In</h1>
                    <input type="text" placeholder="Enter Your Username" class="credential" name="username" formControlName="userName">
                    <input type="password" placeholder="Enter your Password" class="credential" name="password"
                        formControlName="password">

                    <div class="label-and-link">
                        <div>
                            <label for="" class="checkbox-label">Remember Me</label> <input type="checkbox"
                                class="check-box">
                        </div>
                        <a href="#" class="forgot-link">Forgot Password ?</a>
                    </div>

                    <button type="submit" class="btn-credential">Submit</button>
                    
                </div>
            </form>
        </div>
    </div>
</div>