<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CRUD APP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li *ngIf="authservice.loggedin()" class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
          <li *ngIf="authservice.loggedin()" class="nav-item">
            <a class="nav-link" routerLink="/resume">Resume</a>
          </li>
          <li *ngIf="!authservice.loggedin()" class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li *ngIf="authservice.loggedin()" class="nav-item">
            <a class="nav-link" (click)="onLoggedout()">Logout</a>
          </li>
          <li *ngIf="!authservice.loggedin()" class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>