<div class="container">
    <h1 class="text-center">Resume Builder</h1>

    <form [formGroup]="resumeForm" (ngSubmit)="onResumeSubmit()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <!-- first column -->
                <div class="form-group mt-2">
                    <label for="fullName">Full Name </label>
                    <input type="text" class="form-control" placeholder="Enter your fullname" id="fullName"
                        name="fullName" formControlName="fullName">
                </div>

                <div class="form-group mt-2">
                    <label for="designation">Designation</label>
                    <input type="text" class="form-control" placeholder="Enter your designation" id="position"
                        name="position" formControlName="designation">
                </div>

                <div class="form-group mt-2">
                    <label for="contact">Contact</label>
                    <input type="text" class="form-control" placeholder="Enter your contact" name="contact"
                        formControlName="contact">
                </div>

                <div class="form-group mt-2">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" placeholder="Enter your email" name="email"
                        formControlName="email">
                </div>

                <div class="form-group mt-2">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" placeholder="Enter your address" name="address"
                        formControlName="address">
                </div>

                <div class="form-group mt-2">
                    <label for="website">Website</label>
                    <input type="text" class="form-control" placeholder="Enter your website link" name="website"
                        formControlName="website">
                </div>

                <div class="form-group mt-2">
                    <label for="github">Github</label>
                    <input type="text" class="form-control" placeholder="Enter your Github link" name="github"
                        formControlName="github">
                </div>

                <div class="form-group mt-2">
                    <label for="linkedin">Linked In</label>
                    <input type="text" class="form-control" placeholder="Enter your LinkedIn link" name="linkedin"
                        formControlName="linkedin">
                </div>

                <div class="form-group mt-2">
                    <label for="stackoverflow">Stackoverflow</label>
                    <input type="text" class="form-control" placeholder="Enter your stackoverflow link"
                        name="stackoverflow" formControlName="stackoverflow">
                </div>

                <div class="form-group mt-2">
                    <label for="skills">Skills</label>

                    <div formArrayName="skills" *ngFor="let skl of skills.controls; let i=index">
                        <div [formGroupName]="i" class="skillrating">
                            <input type="text" class="form-control mt-2 skillinput" placeholder="Enter Your skills"
                                formControlName="skills">

                        </div>

                        <div class="skillrating">

                            <label for="skillrating">Skill Rating</label>
    
                            <select name="skillrating" >
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="mt-2">
                        <button type="button" class="btn btn-primary skilladd" (click)="addnewskill()">
                            Add
                        </button>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <label for="languages">Languages</label>

                    <div formArrayName="languages" *ngFor="let lang of languages.controls; let i=index">
                        <div [formGroupName]="i" class="skillrating">
                            <input type="text" class="form-control mt-2 skillinput" placeholder="Enter Your languages"
                                formControlName="languages">

                        </div>
                    </div>
                    
                    <div class="mt-2">
                        <button type="button" class="btn btn-primary skilladd" (click)="addnewlang()">
                            Add
                        </button>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <label for="interests">Interests</label>

                    <div formArrayName="interests" *ngFor="let intrst of interests.controls; let i=index">
                        <div [formGroupName]="i" class="skillrating">
                            <input type="text" class="form-control mt-2 skillinput" placeholder="Enter Your interests"
                                formControlName="interests">
                        </div>
                    </div>
                    
                    <div class="mt-2">
                        <button type="button" class="btn btn-primary skilladd" (click)="addnewintrst()">
                            Add
                        </button>
                    </div>
                </div>
            </div>

            <!-- second column -->
            <div class="col-md-6">

                <div class="form-group mt-2">
                    <label for="academicQli" style="font-weight:700">Academic Qualifications</label>
                
                    <div formArrayName="academicQli" id="academicQliDiv"
                        *ngFor="let acad of academicQli.controls; let i=index">
                        <div class="text-center" *ngIf="i==0">
                            <button class="btn btn-success" id="addnewAcademicQliButton" type="button"
                                (click)="addnewacademicQli()" [disabled]="academicQli.invalid">
                                Add
                            </button>
                        </div>

                        <div [formGroupName]="i">
                            <table id="academicQliTable">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label for="year">Year</label>
                                        </td>
                                        <td>
                                            <input type="text" name="year" class="form-control" formControlName="year">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="course">Course</label>
                                        </td>
                                        <td>
                                            <input type="text" name="course" class="form-control"
                                                formControlName="course">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="institution">Institution</label>
                                        </td>
                                        <td>
                                            <input type="text" name="institution" class="form-control"
                                                formControlName="institution">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <label for="workExp" style="font-weight:700">Work Experience</label>
                    <!-- <textarea name="workExp" id="" cols="" rows="5" class="form-control" formControlName="workExp"></textarea> -->
                    <div formArrayName="workExp" id="workExpDiv" *ngFor="let work of workExp.controls; let i=index">
                        <div class="text-center" *ngIf="i==0">
                            <button class="btn btn-success" id="workExpButton" type="button" (click)="addnewworkExp()"
                                [disabled]="workExp.invalid">
                                Add
                            </button>
                        </div>

                        <div [formGroupName]="i">
                            <table id="workExpTable">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label for="year">Year</label>
                                        </td>
                                        <td>
                                            <input type="text" name="year" class="form-control" formControlName="year">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="company">Company</label>
                                        </td>
                                        <td>
                                            <input type="text" name="company" class="form-control"
                                                formControlName="company">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="position">Position</label>
                                        </td>
                                        <td>
                                            <input type="text" name="position" class="form-control"
                                                formControlName="position">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="about">About</label>
                                        </td>
                                        <td>
                                            <input type="text" name="About" class="form-control"
                                                formControlName="about">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-2">
                    <label for="objective" style="font-weight:700">Career Objective</label>
                    <textarea name="objective" id="" cols="" rows="5" class="form-control"
                        formControlName="objective"></textarea>
                </div>
            </div>

            <div class="container text-center mt-4">
                <button type="submit" class="btn btn-primary">Generate Resume</button>
            </div>
        </div>
    </form>
</div>